
*{
  font-family:Arial, Helvetica, sans-serif;
}
body{
  margin: 0;
  background-color: whitw;
}
h1{
    text-align: center;
    color: #E45826;
}
h3{
    text-align: left;
    font-size: 19px;
    color: #007185;
}
.active.NavLink{
    color: #F3950D;
    font-size: 20px;
    text-decoration: none;
    font-weight: 700;

  }
.NavLink{
    color: white;
    font-size: 20px;
    text-decoration: none;
    font-weight: 700;
}
.NavLink:hover{
    color: white;
    font-size: 20px;
    text-decoration: none;
    font-weight: 700;
}
.card {
  display: flex;
  align-items: left;
  background-color: white;
  width: 180px;
  height: 260px;
  border:none;
  /* box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2); */
  /* overflow: hidden; */
  text-align: center;
  margin: 10px;
  transition: all 0.25s;


}
.card:hover{
  /* transform: translate(-15px); */
 /* // box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2); */
}
img{
  width: 170px;
  height: 150px;
}
.pedirCardBtn{
  background-color: #FFD814;
  border: 1px solid #FCD200;
  border-radius: 9px;
  padding: 2 auto;
  font-size: 17px;
  margin: 3px;
}
.btn-rojo{
  color: #e1e1e1;
  font-size: 20px;
  border: 1px solid white;
}
.btn-rojo:hover{
 color: #FCD200;
  border: 1px solid #FCD200;
}
.card p{
   padding: 0 !important;
   margin-bottom: 10px !important;
   text-align: left;
   font-weight: 400;
   font-size: 20px;
   color: black;
}
.card h2{
   margin-top: 15px;
   font-size: 25px;

   margin-bottom: 10px !important;
   color: #3F3351;
}
.container{
  width: 100%;
  max-width: 1000px;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;

}

btn{
  border-radius: 6px;
  border: none;
  margin: 5px;
  height: 30px;
  font-weight: 400;
  font-size: 1rem;
  background-color: #3F3351;
  /* padding: 10px; */
  display:inline;
  cursor: pointer;
  color: #FFCA03;
  /* padding-bottom: 15px!important; */
   transition: all 0.25s;

}
btn:hover{
    color: black;
    background-color: #FFBC97;

}
form label{
  font-size: 10px;
}

/** Formularios **/
form {
    width:95%;
    max-width: 800px;
    margin: 4rem auto 0 auto;
}
form legend {
    font-size: 2.4rem;
    color: var(--azul);
    font-family: var(--fontTexto);
    font-weight: 700;
    text-align: center;
    display: block;
    padding: 2rem;
    margin-bottom: 2rem;
}

form .campo {
    padding: .5rem 2rem;
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}
form .campo label {
    font-weight: bold;
    font-family: var(--fontTexto);
    flex: 0 0 100px;
}
form .campo input:not([type="submit"]){
    padding: 1.5rem;
    flex: 1;
    border: 1px solid #e1e1e1;
}
form .campo input[readonly] {
    background-color: #e1e1e1;
}
.enviar {
    padding: .5rem 2rem;
    display: flex;
    justify-content: flex-end;
}

/*CURSO JUAN*/
.btn i {
    margin-right: 1rem;
}
.btn-azul {
    background-color: var(--azul);
}
.btn-rojo {
    background-color: var(--rojo);
}
.btn-naranja {
    background-color: var(--naranja);
}
.btn-amarillo {
    background-color: var(--amarillo);
}
.btn-verde {
    background-color: var(--verde);
}
.btn:disabled {
    opacity: .4;
}
.nvo-cliente {
    padding: 2rem 4rem;
    width: auto;
}
.btn-eliminar {
    margin-top: 1rem;
    font-family: "Font Awesome 5 Free", Arial, Helvetica, sans-serif;
    font-weight: 900;
}